
:root {
    --main-color: #ff8e00; /* Define the variable --main-color with a blue color */
}

.menu-button {
    border: #888888 1px solid;
    background-color: inherit;
    height: 40px;
    width: 40px;
    margin: 0.5em;

}

.menu-button:hover {
    background-color: #888888;
}

/* Style the label when checkbox is checked (potentially unrelated) */
input[type="checkbox"] {
    display: none;
}

.menu-button.active{
border-start-end-radius: 0.5em; ;
    background-color: var(--main-color);
}
